<div class="stylistForm" id="addRequest" xmlns="http://www.w3.org/1999/html">
    <div class="userNameContainer">
    <span>
      ADD REQUEST
    </span>
    </div>

    <select placeholder="Client" id="clients">
    </select>

    <select placeholder="Service" id="services">
    </select>
    <input placeholder="Date" id="date" type="text" readonly/>
    <input placeholder="Time" id="time" type="text"/>
    <input placeholder="Location" id="location" type="text"/>
    <button class="searchBtn">SEARCH</button>
    <div id="map" style="height: 400px"></div>
</div>

