<div class="list">
    <div class="searchBlock">
        <input class="search" type="text">
        <button class="searchBtn" type="button">SEARCH</button>
    </div>

    <div class="buttons">
        <button id="suspendSelectedBtn" class="suspend">Reject</button>
        <button id="removeSelectedBtn" class="delete">Delete</button>
        <a href="#pendingRequests/add" class="add">Add Request</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th><input type="checkbox" class="checkAll"></th>
            <th class="sortable" data-orderby="Date">Date and Time</th>
            <th class="sortable" data-orderby="Name">Client Name</th>
            <th class="sortable" data-orderby="Service">Service</th>
            <th class="sortable" data-orderby="">Status</th>          <!--TODO orderby-->
            <th>Suspend</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody class="items">
        <!-- put items here -->
        </tbody>
    </table>
    <div class="pagination"></div>
</div>