<% _.forEach(items, function (item, index) {%>
<tr data-id="<%= item._id%>">
    <td><input type="checkbox" class="checkItem"></td>
    <td><%= new Date(item.bookingDate).toLocaleDateString() %></td>
    <td><%= item.client.personalInfo.firstName + ' ' + item.client.personalInfo.lastName %></td>
    <td><%= item.stylist.personalInfo.firstName + ' ' + item.stylist.personalInfo.lastName %></td>
    <td><span class="<%= item.status %>"><%= item.status %></span></td>
    <td><button class="suspendCurrentBtn suspend">Suspend</button></td>
    <td><button class="deleteCurrentBtn delete">Delete</button></td>
</tr>
<%});%>