<div class="stylistForm" xmlns="http://www.w3.org/1999/html">
    <div class="userNameContainer">
        <span>
        <%if (user._id) { %>
            APPLICATION # <%= user._id %>
        <% } else { %>
            Add Application
        <% } %>
        </span>
        <%if (user._id) { %>
        <button id="editBtn">Edit</button>
        <span> <%= new Date(user.createdAt).toLocaleDateString() %> </span>
        <% } %>
    </div>
    <%var inputStatus%>
    <%if (user._id) { inputStatus = 'disabled' } else { inputStatus = '' } %>
    <div class="avatar"></div>

    <%if (user._id) { %>
    <label for="firstName">First Name</label>
    <% } %>
    <input type="text"  id="firstName" class="firstName" name="firstName" placeholder="First Name" value="<%= (user._id) ? user.personalInfo.firstName : ''%>" disabled="<%= inputStatus %>"/><span class="prompt"></span><br/>
    <%if (user._id) { %>
    <label for="lastName">Last Name</label>
    <% } %>
    <input type="text" id="lastName" class="lastName" disabled="<%= inputStatus %>" name="lastName" placeholder="Last Name"  value="<%= (user._id) ? user.personalInfo.lastName : ''%>"/><span class="prompt"></span><br/>
    <%if (user._id) { %>
    <label for="role">Profession</label>
    <% } %>
    <input type="text"  id="role" class="role" disabled="<%= inputStatus %>" name="role" placeholder="Profession"  value="<%= (user._id) ? user.role : ''%>"/><span class="prompt"></span><br/>
    <%if (user._id) { %>
    <label for="salonName">Salon Name</label>
    <% } %>
    <input type="text"  name="salonName" class="salonName" id="salonName" disabled="<%= inputStatus %>" placeholder="Salon Name" value="<%= (user._id) ? user.salonInfo.salonName : ''%>"/><span class="prompt"></span><br/>
    <%if (user._id) { %>
    <label for="businessRole">Business Role</label>
    <% } %>
    <input type="text"  name="businessRole" class="businessRole" id="businessRole" placeholder="Business Role"  disabled="<%= inputStatus %>" value="<%= (user._id) ? user.salonInfo.businessRole : ''%>"/><span class="prompt"></span><br/>
    <%if (user._id) { %>
    <label for="phone">Phone Number</label>
    <% } %>
    <input type="text"  id="phone" class="phone" name="phone" placeholder="Phone Number" disabled="<%= inputStatus %>" value="<%= (user._id) ? user.personalInfo.phone : ''%>"/><span class="prompt"></span><br/>
    <%if (user._id) { %>
    <label for="email">Email</label>
    <% } %>
    <input type="text" id="email" class="email" name="email" placeholder="Email" disabled="<%= inputStatus %>"  value="<%= (user._id) ? user.email : ''%>"/><span class="prompt"></span><br/>
    <%if (user._id) { %>
    <label for="salonAddress">Salon Address</label>
    <% } %>
    <input type="text"  name="salonAddress" class="salonAddress" id="salonAddress" disabled="<%= inputStatus %>" placeholder="Salon Address" value="<%= (user._id) ? user.salonInfo.address : ''%>"/><span class="prompt"></span><br/>
    <%if (user._id) { %>
    <label for="salonAddress2">Salon Address LIne 2</label>
    <% } %>
    <input type="text"  name="salonAddress2" class="salonAddress2" id="salonAddress2" disabled="<%= inputStatus %>" placeholder="Salon Address Line 2"/><span class="prompt"></span><br/>
    <%if (user._id) { %>
    <label for="license">License Number</label>
    <% } %>
    <input type="text" name="license" class="license" id="license" disabled="<%= inputStatus %>" placeholder="License Number" value="<%= (user._id) ? user.salonInfo.licenseNumber : ''%>"/><span class="prompt"></span><br/>
    <%if (user._id) { %>
    <label for="city">City</label>
    <% } %>
    <input type="text"  name="city" id="city" class="city" disabled="<%= inputStatus %>" placeholder="City" value="<%= (user._id) ? user.salonInfo.city : ''%>"/><span class="prompt"></span><br/>
    <%if (user._id) { %>
    <label for="region">State</label>
    <% } %>
    <input type="text" name="region" class="region" id="region" disabled="<%= inputStatus %>" placeholder="State/Province/Region" value="<%= (user._id) ? user.salonInfo.state : ''%>"/><span class="prompt"></span><br/>
    <%if (user._id) { %>
    <label for="zip">Zip Code</label>
    <% } %>
    <input type="text"  name="zip" id="zip" class="zip" disabled="<%= inputStatus %>" placeholder="Zip Code" value="<%= (user._id) ? user.salonInfo.zipCode : ''%>"/><span class="prompt"></span><br/>
    <%if (user._id) { %>
    <label for="country">Country</label>
    <% } %>
    <input type="text"  name="country" id="country" class="country" disabled="<%= inputStatus %>" placeholder="Country" value="<%= (user._id) ? user.salonInfo.country : ''%>"/><span class="prompt"></span><br/>

    <div id="serviceApplications">fwertyuiytrewqrtyui</div>

    <div class="buttonContainer">
        <%if (user._id) { %>
        <button id="acceptBtn">Accept</button>
        <button id="removeBtn">Delete</button>
        <% } else { %>
        <button class="saveBtn">Save</button>
        <% } %>
    </div>

</div>

