<div class="stylistForm">
    <div class="userNameContainer">
        <span>
        <%if (user._id) { %>
            <%= user.personalInfo.firstName + ' ' + user.personalInfo.lastName%>
        <% } else { %>
            Add Application
        <% } %>
        </span>
    </div>

    <div class="avatar"></div>

    <input type="text" class="firstName" name="firstName" placeholder="First Name" value="<%= (user._id) ? user.personalInfo.firstName : ''%>"/><br/>
    <input type="text" class="lastName" name="lastName" placeholder="Last Name"  value="<%= (user._id) ? user.personalInfo.lastName : ''%>"/><br/>
    <input type="text" class="role" name="role" placeholder="Profession"  value="<%= (user._id) ? user.role : ''%>"/><br/>
    <input type="text" name="salonName" class="salonName" placeholder="Salon Name" /><br/>
    <input type="text" name="businessRole" class="businessRole" placeholder="Business Role"  value="<%= (user._id) ? user.salonInfo.businessRole : ''%>"/><br/>
    <input type="text" class="phone" name="phone" placeholder="Phone Number" value="<%= (user._id) ? user.personalInfo.phone : ''%>"/><br/>
    <input type="text" class="email" name="email" placeholder="Email" value="<%= (user._id) ? user.email : ''%>"/><br/>

    <!--<input type="text" name="salonNumber" class="salonNumber" placeholder="Salon Number"/><br/>-->
    <!--<input type="text" name="salonEmail" class="salonEmail" placeholder="Salon Email"/><br/>-->
    <input type="text" name="salonAddress" class="salonAddress" placeholder="Salon Address"/><br/>
    <input type="text" name="salonAddress2" class="salonAddress2" placeholder="Salon Address Line 2"/><br/>
    <input type="text" name="license" class="license" placeholder="License Number"/><br/>
    <input type="text" name="city" class="city" placeholder="City"/><br/>
    <input type="text" name="region" class="region" placeholder="State/Province/Region"/><br/>
    <input type="text" name="zip" class="zip" placeholder="Zip Code"/><br/>
    <input type="text" name="country" class="country" placeholder="Country"/><br/>

    <button class="saveBtn">Save</button>

</div>

