<div>
    <div class="buttons">
        <button id="acceptSelectedBtn">Accept</button>
        <button id="removeSelectedBtn">Delete</button>
        <a href="#stylists/add" class="addApp">Add Application</a>
    </div>

    <div class="list">
        <table class="table">
            <thead>
            <tr>
                <th><input type="checkbox" class="checkAll"></th>
                <th class="date">Date</th>
                <th>Stylist Name</th>
                <th>Salon Name</th>
                <th>Accept</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
                <% _.forEach(users, function (user) {%>
                <tr data-id="<%= user._id%>">
                    <td><input type="checkbox"></td>
                    <td><%= new Date(user.createdAt).getDate() + '/' + new Date(user.createdAt).getMonth() + '/' + String.prototype.slice.call(new Date(user.createdAt).getFullYear(),2,4) %></td>
                    <td><%= user.personalInfo.firstName + ' ' + user.personalInfo.lastName %></td>
                    <td><%= user.salonInfo.salonName %></td>
                    <td><button id="acceptCurrentBtn">Accept</button></td>
                    <td><button id="removeCurrentBtn">Delete</button></td>
                </tr>
                <%});%>
            </tbody>
        </table>
    </div>

</div>
