<div>
    <div class="buttons">
        <button id="acceptSelectedBtn">Accept</button>
        <button id="removeSelectedBtn">Delete</button>
        <a href="#stylists/add" class="addApp">Add Application</a>
    </div>

    <div class="list">
        <table class="table">
            <thead>
            <tr>
                <th><div class="checkBlock"><input type="checkbox" class="checkAll" id="checkAll"></div></th>
                <th class="date">Date</th>
                <th class="name">Stylist Name</th>
                <th class="salon">Salon Name</th>
                <th>Accept</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <div class="paginationContainer"></div>
</div>
