<div id="loginDiv" class="welcome-pages">
    <a href="#"><img src="../../images/logo.png" alt=""/></a>
    <form id="logInForm" class="welcome-form">
        <h1>Sign in</h1>
        <div class="form-body">
            <%if(!isInvite){%>
            <div class="form-field">
                <input type="email" id="loginEmail" class="<%=errorObject.email ? 'error_input' : ''%>" placeholder="Email Address">
                <%if (errorObject.email){%>
                    <span class="error_msg"><%=errorObject.email%></span>
                <%}%>
            </div>
            <%}%>
            <div class="form-field">
                <input type="password" id="loginPass" class="<%=errorObject.password ? 'error_input' : ''%>" placeholder="Password">
                <%if (errorObject.password){%>
                    <span class="error_msg"><%=errorObject.password%></span>
                <%}%>
            </div>
            <%if(isInvite){%>
            <div class="form-field">
                <input type="password" id="confLoginPass" placeholder="Confirm password">
                <span class="error_msg" style="display: none;">Password is invalid</span>
            </div>
            <div class="remember_check"><input type="checkbox" id="iAgree" disabled><label for="iAgree"><span>I agree to the</span></label><a href="javascript:;" class="link termsLink">Terms of Service</a></div>
            <%}%>
            <div class="remember_check"><input type="checkbox" id="rememberMe"><label for="rememberMe"><span>Remember me</span></label></div>
            <input type="button" id="loginButton" value="Sign in">
            <div class="links">
                <%if(!isInvite){%>
                    <a href="#forgotPassword">I forgot my password</a>
                    <a href="#signup">I don`t have an account</a>
                <%}%>
            </div>
        </div>
    </form>
</div>