<div id="loginDiv" class="welcome-pages">
    <!--title-->
    <div class="loginTitle">
        <a href="#"><img src="../../images/logo.png" alt=""/></a>
        <span>treat.me</span>
    </div>
    <form id="logInForm" class="welcome-form">
        <h1>Login</h1>
        <div class="form-body">

            <!--Email-->
            <div class="form-field">
                <input type="email" id="loginEmail" class="<%=errorObject.email ? 'error_input' : ''%>" placeholder="Email">
                <%if (errorObject.email){%>
                    <span class="error_msg"><%=errorObject.email%></span>
                <%}%>
            </div>

            <!--Password-->
            <div class="form-field">
                <input type="password" id="loginPass" class="<%=errorObject.password ? 'error_input' : ''%>" placeholder="Password">
                <%if (errorObject.password){%>
                    <span class="error_msg"><%=errorObject.password%></span>
                <%}%>
            </div>

            <!--submit-->
            <input type="button" id="loginButton" value="Login">
        </div>
    </form>
</div>