<div class="statistics">
    <span>Statistics Overview</span>
    <div class="statisticsMenu">
        <ul>
            <li class="statisticsBtn" id="todayBtn" data-interval="d"><span>Today</span></li>
            <li class="statisticsBtn" id="weekBtn" data-interval="w"><span>This Week</span></li>
            <li class="statisticsBtn" id="monthBtn" data-interval="m"><span>This Month</span></li>
        </ul>
    </div>
    <div class="statisticsOverview">
        <tr>Requests Sent </tr><span class="requestsSent"></span>
        <tr>Appointments Booked </tr><span class="appointmentsBooked"></span>
        <tr>Packages Sold </tr><span class="packagesSold"></span>
        <tr>Projected Revenue </tr><span class="projectedRevenue"></span>
    </div>
</div>
<div>Appointments Booked</div>
<div>Monthly Revenue</div>