<div class="logo">
    <img src="../../images/logo.png" alt="logo"/>
</div>
<nav class="sidebar-menu">
    <ul>
        <li><a href="#dashboard" id="nav_dashboard"><span>Dashboard</span></a></li>
        <li><a href="#newApplications" id="nav_new_applications"><span>New Applications</span></a></li>
        <li><a href="#stylists" id="nav_stylists"><span>Stylist list</span></a></li>
        <li><a href="#clients" id="nav_clients"><span>Client List</span></a></li>
        <li><a href="#pendingRequests" id="nav_pending_requests"><span>Pending Requests</span></a></li>
        <li><a href="#bookings" id="nav_bookings"><span>Bookings</span></a></li>
        <li><a href="#stylistPayments" id="nav_stylist_payments"><span>Stylist Payments</span></a></li>
        <li><a href="#clientPackages" id="nav_client_packages"><span>Client Packages</span></a></li>
        <li><a href="#gallery" id="nav_gallery"><span>Gallery</span></a></li>
        <li><a href="#services" id="nav_services"><span>Services</span></a></li>
    </ul>
</nav>