<div id="rightTopBar">
    <div class="top">
        <div class="budget"><span></span></div>
        <div id="breadcrumbContainer"></div>
        <input type="button" value="Log out" id="buttonLogout" class="logoutBtn">
    </div>
        <div class="searchBlock">
             <input class="search" type="text" />
             <button class="searchBtn" type="button">SEARCH</button>
        </div>
    <!--<div class="searchContainer">
        <input class="searchValue" type="text"/>
        <button id="searchButton">Search</button>
    </div>-->
</div>






