<div class="list">
    <span>Services</span>

    <div class="buttons">
        <button class="add">Add New Service</button>
    </div>

    <div class="servicesData">
        <table class="table">
            <thead>
            <tr>
                <th class="sortable" data-orderby="">Image</th>
                <th class="sortable" data-orderby="">Service Name</th>
                <th class="sortable" data-orderby="">Default Discount</th>
                <th class="sortable" data-orderby="">Edit</th>
                <th class="sortable" data-orderby="">Delete</th>
            </tr>
            </thead>

            <tbody class="items">
            <!-- put items here -->
            </tbody>
        </table>
    </div>
    <div class="pagination"></div>
</div>