@import (less) "normalize.css";
@import "variables.less";
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lato Bold";
  src: url(../fonts/Lato-Bold.ttf);
  font-weight: 700;
}
body{
  background-image: -webkit-linear-gradient(left, #222222 0%, #222222 25%, #fff 25%, #fff);
  width: 100%;
  height: 100%;
  font-family: "Lato";
  color: #555;
}
/*------login--*/
.welcome-pages{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  text-align: center;
  overflow-y: auto;
  .loginTitle{
    margin-top: 105px;
  }
  h1{
    text-transform: uppercase;
  }
  div.form-field input{
    background-color: #fff;
    height: 65px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 15px;
    border: none;
    border-radius: 5px;
  }
  div.form-field input[type="email"]{
    .i('mail.png', transparent);
    background-position: right 20px  center ;
  }
  div.form-field input[type="password"]{
    .i('pass.png', transparent);
    background-position: right 24px  center ;
  }
  div.form-field:nth-child(1){
    border-bottom: 1px solid @grey;
  }
  .inputWrap{
    border: 1px solid @grey;
    border-radius: 5px;
    width: 33%;
    max-width: 360px;
    margin: 70px auto 0 auto;
  }
  #loginButton{
    border-radius: 5px;
    height: 66px;
    max-width: 362px;
    width: 33%;
    border: none;
    background-color: @mainColor;
    color: #fff;
    text-transform: uppercase;
    margin-top: 22px;
  }
}
/*---top section-----*/
.top{
  height: 70px;
  padding: 30px 0 0 60px;
  text-transform: uppercase;
  font-weight: 700;
}
.logoutBtn{
  float: right;
  font-weight: 700;
}
.logoutBtn, .searchBtn{
  background-color: transparent;
  border: none;
  outline: none;
  text-transform: uppercase;
}
.searchBlock{
  padding-left: 33px;
  height: 44px;
  margin: 30px 0 40px 0;
  input.search{
    width: 100%;
    height: 44px;
    padding-left: 50px;
    outline: none;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    .i('magnifier.png', transparent);
    background-position: 15px center;
    float: left;
  }
  .searchBtn{
    background-color: #2175CC;
    border-radius: 2px;
    color: #fff;
    position: absolute;
    height: 44px;
    margin-left: -100px;
    width: 100px;
  }
}
/*   breadcrumbs */
#breadcrumbContainer{
  display: inline-block;
  .breadcrumb{
    padding-bottom: 10px;
    margin-right: 18px;
    display: inline-block;
    &.active{
      border-bottom: 3px solid @mainColor;
    }
  }
}

/*-----Nav-------*/
.leftMenu{
  float: left;
  width: 25%;
  ul {
    padding: 50px 0 0;
    li {
      list-style: none;
      a {
        color: #fff;
        text-transform: uppercase;
        display: block;
        width: 100%;
        font-weight: bold;
        padding: 5% 13%;
        font-size: 14px;
      }
      a.active{
        background-color: #2175CC;
      }
    }
  }
  .logo{
    img{
      background-color: #2175CC;
      width: 100%;
      height: auto;
      padding: 13% 11%;
    }
  }

}
/*--------------*/
/* table */
.list{
  width: 100%;
  table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    thead{
      background-color: #E0E0E0;
      td,th{
        padding: 2%;
        text-align: left;
        padding-left: 30px;
        font-weight: bold;
      }
    }
    tbody tr{
      border: none;
      td, th{
        padding: 2%;
        text-align: left;
        padding-left: 30px;
        font-weight: bold;
      }
    }
  }
  tbody tr:nth-child(even){
    background-color: #E8F1FA;
  }
}
/*------wrapper------*/
.wrapper,
.topMenu{
  width: 75%;
  padding-right: 4.8148%;
  float: left;
}
.wrapper{
  padding-bottom: 50px;
}

/* Buttons*/
.buttons{
  padding-left: 30px;
  margin-bottom: 7px;
}
.buttons .accept,
.buttons .delete,
#removeSelectedBtn,
.buttons #suspendSelectedBtn{
  border-radius: 2px;
  width: 90px;
  height: 44px;
  border: none;
  text-indent: -99999px;
}
.accept{
 .i("check.png", #E0E0E0);
  background-position: center;
}
.buttons .delete,
#removeSelectedBtn {
  .i("trash.png", #E0E0E0);
  background-position: center;
}
.acceptCurrentBtn{
  .i("check.png", transparent);
}
.deleteCurrentBtn,
.removeCurrentBtn {
  .i("trash.png", transparent);
}
.buttons #suspendSelectedBtn{
  .i("ban.png", #E0E0E0);
  background-position: center;
}
.suspendCurrentBtn{
  .i("ban.png", transparent);
}
.delete,
.acceptCurrentBtn,
.deleteCurrentBtn,
.suspendCurrentBtn,
.suspendCurrentBtn,
.deleteCurrentBtn{
  width: 50px;
  height: 25px;
  text-indent: -99999px;
  background-position: center;
}
a.add, button#addBtn {
  border-radius: 2px;
  .i('plus.png', @mainColor);
  background-position: 15px center;
  width: 200px;
  height: 44px;
  line-height: 44px;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  float: right;
  text-transform: uppercase;
}
button#editBtn,
.editSelectedBtn
{
  font-size: 18px;
  color: #fff;
  line-height: 1.111;
  border-radius: 5px;
  .i('note-white.png', @mainColor);
  width: 120px;
  height: 40px;
  padding-left: 60px;
  background-position: 26px 7px;
  text-align: left;
}
button.editBtn{
  margin-right: 40px;
}
a#addClient{
  width: 180px;
}
#export{
  border-radius: 2px;
  background-color: @mainColor;
  height: 44px;
  width: 100px;
  line-height: 44px;
  color: #fff;
  float: right;
  text-transform: uppercase;
}
.saveBtn{
  border-radius: 2px;
  background-color: @mainColor;
  height: 44px;
  width: 90px;
  line-height: 44px;
  color: #fff;
  margin-top: 44px;
}
a.edit, .editBtn{
  .i("note.png", transparent);
  background-position: center;
  text-indent: -99999px;
  width: 24px;
  height: 24px;
  display: inline-block;
}
#removeBtn,
#acceptBtn{
  border-radius: 5px;
  width: 120px;
  height: 40px;
  color: #fff;
  padding-left: 35px;
  box-sizing: border-box;
  font-weight: normal;
}
#acceptBtn{
  .i('check-white.png', #00A651);
  background-position: 14px center;
}
#removeBtn{
  .i('trash-white.png', #ED1C24);
  background-position: 14px center;
}
p#suspendSelectedBtn{
  .i('ban-white.png', #ED1C24);
  background-position: 14px center;
}
/*---------*/
/*--checkbox--*/
  input[type='checkbox'] {
    position: relative;
    &:after {
      content: '';
      width: 16px;
      height: 16px;
      border-radius: 2px;
      top: 4px;
      left: 4px;
      border: 1px solid #A7A7A7;
      display: block;
      background-color: #fff;
      z-index: 2;
    }
  }
  input[type=checkbox] {
    &:checked:after {
      .i('checkbox.png', #fff);
      border: none;
    }
  }
.date:after,
.name:after,
.salon:after {
  content: '';
  width: 9px;
  height: 5px;
  .i('arrow.png', transparent);
  margin-left: 5px;
  display: inline-block;
  position: relative;
  top: -1px;
}
.date, .name, .salon {
  cursor: pointer;
}
.asc:after {
  content: '';
  width: 9px;
  height: 5px;
  .i('arrow.png', transparent);
  margin-left: 5px;
  display: inline-block;
  position: relative;
  top: -1px;
  transform: rotate(180deg);
}
.pagination{
  margin: 50px auto;
  text-align: center;
  li{
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    min-width: 30px;
    width: auto;
    height: 30px;
    line-height: 30px;
    &.active{
      background-color: @mainColor;
      border-radius: 50px;
      color: #fff;
    }
    &.arrow{
      margin: 0 10px;
    }
  }
}

.pending{
  width: 16px;
  height: 13px;
  .i("check-ok.png", transparent);
  display: inline-block;
  margin-left: 12px;
}
.stylistForm{
  font-size: 18px;
  padding-left: 60px;
  label{
    color: #A7A7A7;
    display: inline-block;
    min-width: 170px;
    padding: 10px 0;
    line-height: 1.8;
  }
  input{
    background-color: #fff;
    border: none;
    color: #555;
    padding: 10px 0;
    margin-left: 20px;
  }
  input[disabled]{
    color: #555;
  }
  #acceptBtn{
    margin-right: 20px;
  }
}

/*--add app---*/
.userNameContainer{
  font-weight: bold;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 20px;
  height: 60px;
  >span{
    padding-top: 15px;
    display: inline-block;
  }
  div{
    float: right;
    button{
      vertical-align: top;
    }
  }
}
.services{
  border-radius: 5px;
  background-color: #F4F4F4;
  padding: 33px;
  label{
    margin-left: 24px;
    color: #555;
  }
  input[type=text] {
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    width: 298px;
    height: 58px;
    text-align: right;
    padding: 0 30px;
    margin-bottom: 10px;
    .i('price.png', #fff);
    background-position: 30px 20px;
    }
  input[type=checkbox]{
    position: relative;
    top: -2px;
  }
}
/*--user name---*/
.userNameContainer{
  span{
    text-transform: uppercase;
  }
}
.accountInfo{
  span.title, .infoField{
    min-width: 155px;
    display: inline-block;
    font-size: 18px;
    line-height: 2.444;
  }
  .title{
    color: #A7A7A7;
  }
}
table.services{
  float: right;
  margin-top: 30px;
  th{
    font-size: 18px;
    color: #A7A7A7;
    font-weight: normal;
  }
  td,th{
      padding: 14px 30px;
  }
  tbody td{
    font-weight: bold;
  }
}
input[type=text]{
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 58px;
  font-size: 20px;
  padding-left: 30px;
  width: 300px;
  display: inline-block;
  margin-right: 20px;

}