<div class="list">
    <div class="searchBlock">
        <input class="search" type="text">
        <button class="searchBtn" type="button">SEARCH</button>
    </div>

    <div class="buttons">
        <button id="removeSelectedBtn delete">Delete</button>
        <a href="#clients/add" class="add" id="addClient">Add Client</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th><input type="checkbox" class="checkAll"></th>
            <th class="sortable" data-orderby="Name">Client Name</th>
            <th class="sortable" data-orderby="email">Email</th>
            <th>Edit</th>
            <th>Suspend</th>
        </tr>
        </thead>
        <tbody class="items">
            <!-- put items here -->
        </tbody>
    </table>
    <div class="pagination"></div>
</div>