<div>
    <span class="clientName"></span>
    <div class="buttons">
        <button id="editSelectedBtn">Edit</button>
        <button id="suspendSelectedBtn">Suspend</button>
        <button id="removeProfileBtn">Delete</button>
    </div>

    <div class="stylistForm">
        <div class="accountInfo">
            <dl>
                <dt>Name</dt>
                <dd class="name"></dd>
                <dt>Phone Number</dt>
                <dd class="phone"></dd>
                <dt>Email Address</dt>
                <dd class="email"></dd>
            </dl>

            <ol>Client History</ol>
        </div>
    </div>

    <div id="clientsAppointment" class="clientsAppoinment"></div>
    <div id="clientsPurchased" class="clientsPurchased"></div>

</div>
