<div>
    <span class="clientName"></span>
    <div class="buttons">
        <button id="editBtn" class="edit">Edit</button>
        <button id="suspendSelectedBtn" class="suspend">Suspend</button>
        <button id="removeProfileBtn" class="delete">Delete</button>
    </div>

    <div id="currentPackage">
        Current Package
            <dl>
                <dd class="purchaseDate"></dd>
                <dd class="package"></dd>
                <dd class="price"></dd>
                <dd>purchased</dd>
            </dl>
    </div>

    <div class="clientForm">

    </div>

    <div id="clientsAppointment" class="clientsAppoinment"></div>
    <div id="clientsPurchased" class="clientsPurchased"></div>

</div>
