
<div class="list">
    <div class="appointments">Appointments Booked</div>
    <table class="table">
        <thead>
        <tr>
            <th class="sortable" data-orderby="Date">Booking For</th>
            <th class="sortable" data-orderby="Name">Stylist Name</th>
            <th class="sortable" data-orderby="">Service</th>
            <th class="sortable" data-orderby="">Payment</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody class="items">
        <!-- put items here -->
        </tbody>
    </table>
    <div class="pagination"></div>
</div>