<div class="stylistForm" xmlns="http://www.w3.org/1999/html">
    <div class="userNameContainer">
        <span>
            Add stylist profile
        </span>
    </div>

    <br class="accountInfo">
    <div class="avatar"></div>
    <input type="text" class="firstName" name="firstName" placeholder="First Name"/><span class="prompt"></span><br/>
    <input type="text" class="lastName" name="lastName" placeholder="Last Name"/><span class="prompt"></span><br/>
    <input type="text" class="phone" name="phone" placeholder="Phone Number"/><span class="prompt"></span><br/>
    <input type="text" class="email" name="email" placeholder="Email"/><span class="prompt"></span><br/>
    <input type="text" class="password" name="password" placeholder="Password"/><span class="prompt"></span><br/>

    <div class="userNameContainer">
        <span>
            Add credit card
        </span>
    </div>


    <button class="saveBtn">Save</button>

</div>

</div>

