<div class="stylistForm" xmlns="http://www.w3.org/1999/html">
    <div class="userNameContainer">
        <span> <%= user.personalInfo.firstName + ' ' + user.personalInfo.lastName%> </span>
    </div>

    <div class="accountInfo">
        <span class="title">ACCOUNT INFO</span>
        <div class="avatar"></div>
        <input type="text" class="firstName" value=" <%= user.personalInfo.firstName %> ">
        <input type="text" class="lastName" value=" <%= user.personalInfo.lastName %> "></br>
        <input type="text" class="phone" value=" <%= user.personalInfo.phone %> ">
        <input type="text" class="proffession" value=" <%= user.personalInfo.proffession %> ">
    </div>

    <div class="salonInfo">
        <span class="title">SALON INFO</span></br>
        <input type="text" class="salonName" value=" <%= user.salonInfo.salonName %> ">
        <input type="text" class="role" value=" <%= user.salonInfo.role %> ">
        <input type="text" class="phone" value=" <%= user.salonInfo.phone %> ">
        <input type="text" class="email" value=" <%= user.salonInfo.email %> ">
        <input type="text" class="address" value=" <%= user.salonInfo.address %> ">
        <input type="text" class="address2" value=" <%= user.salonInfo.address %> ">
        <input type="text" class="licenseNumber" value=" <%= user.salonInfo.licenseNumber %> ">
        <input type="text" class="city" value=" <%= user.salonInfo.city %> ">
        <input type="text" class="zipCode" value=" <%= user.salonInfo.zipCode %> ">
        <input type="text" class="state" value=" <%= user.salonInfo.state %> ">
        <input type="text" class="country" value=" <%= user.salonInfo.country %> ">
    </div>

    <button class="saveBtn">Save</button>


</div>

