<div class="stylistForm" xmlns="http://www.w3.org/1999/html">
    <div class="userNameContainer">
        <span> <%= (personalInfo.firstName && personalInfo.lastName) ? personalInfo.firstName + ' ' + personalInfo.lastName : ''%> </span>
    </div>

    <div class="accountInfo">
        <span class="title">ACCOUNT INFO</span><br/>

        <img class="avatar" width="90" height="90" alt="avatar" src="<%= personalInfo.avatar %>"/>
        <input style="display: none" type="file" value="Avatar" class="changeAvatar" accept="image/*"><br/>

        <input type="text" class="firstName" placeholder="First Name" value="<%= (personalInfo.firstName) ? personalInfo.firstName : ''%>"><span class="prompt"></span>
        <input type="text" class="lastName" placeholder="Last Name" value="<%= (personalInfo.lastName) ? personalInfo.lastName : ''%>"><span class="prompt"></span></br>
        <input type="text" class="email" placeholder="Email" value="<%= (email) ? email : '' %>"><span class="prompt"></span>
        <input type="text" class="personalPhone" placeholder="Personal Number" value="<%= (personalInfo.phone) ? personalInfo.phone : '' %>"><span class="prompt"></span>
        <input type="text" class="profession" name="profession" placeholder="Profession" value="<%= (personalInfo.profession) ? personalInfo.profession : ''%>"><span class="prompt"></span>
    </div>

    <div class="salonInfo">
        <span class="title">SALON INFO</span></br>
        <input type="text" class="salonName" placeholder="Salon Name" value="<%= (salonInfo.salonName) ? salonInfo.salonName : ''%>"><span class="prompt"></span>
        <input type="text" class="businessRole" placeholder="Business Role" value="<%= (salonInfo.businessRole) ? salonInfo.businessRole : ''%>"><span class="prompt"></span>
        <input type="text" class="salonPhone" placeholder="Phone Number" value="<%= (salonInfo.phone) ? salonInfo.phone : ''%>"><span class="prompt"></span>
        <input type="text" class="salonEmail" placeholder="Email" value="<%= (salonInfo.email) ? salonInfo.email : '' %>"><span class="prompt"></span>
        <input type="text" class="address" placeholder="Address" value="<%= (salonInfo.address) ? salonInfo.address : '' %>"><span class="prompt"></span>
        <input type="text" class="address2" placeholder="Address line 2" value=""><span class="prompt"></span>
        <input type="text" class="licenseNumber" placeholder="License Number" value="<%= (salonInfo.licenseNumber) ? salonInfo.licenseNumber : ''%>"><span class="prompt"></span>
        <input type="text" class="city" placeholder="City" value="<%= (salonInfo.city) ? salonInfo.city : ''%>"><span class="prompt"></span>
        <input type="text" class="zipCode" placeholder="Zipcode" value="<%= (salonInfo.zipCode) ? salonInfo.zipCode : ''%>"><span class="prompt"></span>
        <input type="text" class="state" placeholder="State" value="<%= (salonInfo.state) ? salonInfo.state : ''%>"><span class="prompt"></span>
        <input type="text" class="country" placeholder="Country" value="<%= (salonInfo.country) ? salonInfo.country : '' %>"><span class="prompt"></span>
    </div>

    <button class="saveBtn">Save</button>


</div>

