<div class="stylistForm" xmlns="http://www.w3.org/1999/html">
    <div class="userNameContainer">
        <span> <%= user.personalInfo.firstName + ' ' + user.personalInfo.lastName%> </span>
       <div>
           <button class="edit">Edit</button>
           <button class="suspend">Suspend</button>
           <button class="delete">Delete</button>
       </div>
    </div>

    <div class="accountInfo">
        <table class="services" >
            <thead>
            <tr><th>Agreed Services</th></tr>
            </thead>
            <tbody>
            <% _.forEach(user.services, function (service) {%>
            <%if (service.status === 'approved') { %>
            <tr data-id="<%= service._id %>">
                <td>
                    <%= service.name %>
                </td>
                <td>
                    $<%= service.price %>
                </td>
            </tr>
            <% } %>
            <%});%>

            </tbody>
        </table>
        <div class="avatar"></div>
        <span class="title">Your Name</span><span class="infoField"> <%= user.personalInfo.firstName + ' ' + user.personalInfo.lastName%> </span></br>
        <span class="title">Profession</span><span class="infoField"> <%= user.personalInfo.profession%> </span></br>
        <span class="title">Personal Number</span><span class="infoField"> <%= user.personalInfo.phone%> </span></br>
        <span class="title">Salon Name</span><span class="infoField"> <%= user.salonInfo.salonName%> </span></br>
        <span class="title">Business Role</span><span class="infoField"> <%= user.role%> </span></br>
        <span class="title">Phone Number</span><span class="infoField"> <%= user.salonInfo.phone%> </span></br>
        <span class="title">License Number</span><span class="infoField"> <%= user.salonInfo.licenseNumber%> </span></br>
        <span class="title">Email</span><span class="infoField"> <%= user.salonInfo.email%> </span></br>
        <span class="title">Address</span><span class="infoField"> <%= user.salonInfo.address%> </span></br>
        <span class="title">Address line 2</span><span class="infoField"> <%= user.salonInfo.address%> </span></br>
        <span class="title">Zip code</span><span class="infoField"> <%= user.salonInfo.zipCode%> </span></br>
        <span class="title">City</span><span class="infoField"> <%= user.salonInfo.city%> </span></br>
        <span class="title">State</span><span class="infoField"> <%= user.salonInfo.state%> </span></br>
        <span class="title">Country</span><span class="infoField"> <%= user.salonInfo.country%> </span></br>
        <div class="suspendStatus">
            <p>
                <%if (user.suspend.isSuspend) { %>
                SUSPENDED FROM <%= new Date(user.suspend.history[0].from).getDate() + '/' + new Date(user.suspend.history[0].from).getMonth()  + '/' + String.prototype.slice.call(new Date(user.suspend.history[0].from).getFullYear(),2,4) %>
                <% } %>
            </p>
        </div>

        <div class="stylistsClients">

        </div>
        <div class="suspendHistory">
            <span>HISTORY</span>
            <% _.forEach(user.suspend.history, function (suspend) {%>
            <span>
            <%= new Date(suspend.from).getDate() + '/' + new Date(suspend.from).getMonth() + '/' + String.prototype.slice.call(new Date(suspend.from).getFullYear(),2,4) %> - Suspension
            </span>
            <span><%= suspend.reason %></span>
            <% }) %>
        </div>

    </div>

</div>

