<div class="stylistDetails">

    <% if (user.approved) {%>
    <div class="stylistInfo">
        <table class="services" >
            <thead>
            <tr>
                <th>Agreed Services</th>
            </tr>
            </thead>
            <tbody>
            <% _.forEach(user.services, function (service) {%>
                <%if (service.status === 'approved') { %>
                <tr data-id="<%= service._id %>">
                    <td><%= service.name %></td>
                    <td>$<%= service.price %></td>
                </tr>
                <% } %>
            <%});%>
            </tbody>
        </table>
        <div class="suspendStatus">
            <p>
                <%if (user.suspend.isSuspend) { %>
                SUSPENDED FROM <%= new Date(user.suspend.history[user.suspend.history.length - 1].from).toLocaleDateString() %>
                <% } %>
            </p>
        </div>
    </div>
    <% } %>

    <div class="accountInfo">
        <img class="avatar" width="90" height="90" alt="avatar" src="<%= user.personalInfo.avatar || '/images/avatar.png'%>"/>
        <input style="display: none" type="file" value="Avatar" class="changeAvatar" accept="image/*">
        <br/>
        <span class="title">Your Name</span><span class="infoField"> <%= user.personalInfo.firstName + ' ' + user.personalInfo.lastName%> </span></br>
        <span class="title">Profession</span><span class="infoField"> <%= user.personalInfo.profession%> </span></br>
        <span class="title">Personal Number</span><span class="infoField"> <%= user.personalInfo.phone%> </span></br>
        <span class="title">Salon Name</span><span class="infoField"> <%= user.salonInfo.salonName%> </span></br>
        <span class="title">Business Role</span><span class="infoField"> <%= user.role%> </span></br>
        <span class="title">Phone Number</span><span class="infoField"> <%= user.salonInfo.phone%> </span></br>
        <span class="title">License Number</span><span class="infoField"> <%= user.salonInfo.licenseNumber%> </span></br>
        <span class="title">Email</span><span class="infoField"> <%= user.salonInfo.email%> </span></br>
        <span class="title">Address</span><span class="infoField"> <%= user.salonInfo.address%> </span></br>
        <span class="title">Address line 2</span><span class="infoField"> <%= user.salonInfo.address%> </span></br>
        <span class="title">Zip code</span><span class="infoField"> <%= user.salonInfo.zipCode%> </span></br>
        <span class="title">City</span><span class="infoField"> <%= user.salonInfo.city%> </span></br>
        <span class="title">State</span><span class="infoField"> <%= user.salonInfo.state%> </span></br>
        <span class="title">Country</span><span class="infoField"> <%= user.salonInfo.country%> </span></br>

        <div class="stylistsClients"></div>

        <% if (user.approved) {%>
        <div class="suspendHistory">
            <span>HISTORY</span>
            <ul>
            <% _.forEach(user.suspend.history, function (suspend) {%>
                <li class="history">
                    <p class="suspensionDate"><%= new Date(suspend.from).toLocaleDateString()%> - Suspension</p>
                    <p class="reason"><%= suspend.reason %></p>
                </li>
            <% }) %>
            </ul>
        </div>
        <% } %>

    </div>

    <div id="serviceApplications"></div>

</div>

