<div>
    <div class="buttons">
        <span class="userName"></span>
        <% if ( path === 'newApplications') { %>
            <button id="editBtn" class="edit">Edit</button>
            <span class="calendar"></span>
        <% } else { %>
            <button id="editBtn" class="edit">Edit</button>
            <button id="suspendBtn" class="suspend">Suspend</button>
            <button id="removeBtn" class="delete">Delete</button>
        <% } %>
    </div>
    <div class="info">
        <div class="stylistInfo">
            <div class="agreedServices"></div>
            <div class="suspendInfo"></div>
        </div>
        <div class="userInfo">






        </div>
    </div>
    <div class="services"></div>
</div>
