<div id="dialog-form" style="display: none">
    <h3>Warning</h3>
    <form>
        <label for="reason">The account will be suspended until you resume it back again. Please specify the reason of the account suspension:</label><br/><br/>
        <textarea id="reason" name="reason" cols="30" rows="10" autofocus></textarea><br/>
        <span class="prompt"></span><br/>
    </form>
</div>
<div>
    <div class="buttons">
        <span class="userName"></span>
        <% if ( path === 'newApplications') { %>
            <button id="editBtn" class="edit">Edit</button>
            <span class="calendar"></span>
        <% } else { %>
            <button id="editBtn" class="edit">Edit</button>
            <button id="suspendBtn" class="suspend">Suspend</button>
            <button id="removeBtn" class="delete">Delete</button>
        <% } %>
    </div>
    <div class="info">
        <div class="userInfo"></div>
    </div>
    <div class="stylistsClients"></div>
</div>
