<div class="list">
    <div class="searchBlock">
        <input class="search" type="text">
        <button class="searchBtn" type="button">SEARCH</button>
    </div>

    <div class="buttons">
        <button id="removeSelectedBtn" class="delete">Delete</button>
    </div>

    <div class="inboxData">
        <table class="table">
            <thead>
            <tr>
                <th><div class="checkBlock"><input type="checkbox" class="checkAll" id="checkAll"></div></th>
                <th class="sortable" data-orderby="">Name</th>
                <th class="sortable" data-orderby="">Email</th>
                <th class="sortable" data-orderby="">Subject</th>
                <th class="sortable" data-orderby="">Delete</th>
            </tr>
            </thead>

            <tbody class="items">
            <!-- put items here -->
            </tbody>
        </table>
    </div>
    <div class="pagination"></div>
</div>