<div>
    <span class="inboxName"></span>
    <div class="buttons">
       <button id="removeProfileBtn" class="delete">Delete</button>
    </div>

    <span class="createdAt"></span>

    <div class="inboxForm">
        <div class="inboxInfo">
            <span class="titleInbox">Name</span><span class="name"></span></br>
            <span class="titleInbox">Email</span><span class="email"></span></br>
            <span class="titleInbox">Subject</span><span class="subject"></span></br>
            <span class="titleInbox">Message</span><span class="message"></span></br>
        </div>
    </div>
</div>
